# composer application/config dir
/application/config/config.php
/application/config/database.php

/.idea
/nci (2).zip
/s.rar
/test.html
/test.txt
/new 3.html
/__new
/mis
/gallery
/bcs

/application/config/server
